@media (min-width: 1281px)
{
body
{background-color:#25637D;
    color:#F5F5DC;}
p12
{

font-size:30px;
position: relative;
  top: -340px;
  left:600px;}
p13
{

font-size:25px;
position: relative;
  top: -270px;
  left:-100px;}
img {
  display: auto;
  max-width: 30%;
   
    position: relative;
  top: 180px;
  left: -460px;
    color:grey;
}
p19
{
    font-size:25px;
    position: relative;
  top: 90px;
  left: -250px;}
p18
{
    font-size:25px;
    position: relative;
  top: 226px;
  left: -740px;}
p
{
font-size:20px;
position: relative;
  top: 112px;
  left:939px;}
.thumpsup
{position: relative;
  top: 180px;
  left:73px;}
p2
{
      cursor: pointer;
    position: relative;
  top: 170px;
  left:40px;
font-size: 15px;}


.phone
{position: relative;
  top: 102px;
  left:330px;}
p4
{
      cursor: pointer;
    position: relative;
  top: 117px;
  left:300px;
font-size: 15px;}


.truck
{position: relative;
  top: 53px;
  left:665px;}
p6
{
      cursor: pointer;
    position: relative;
  top: 23px;
  left:592px;
font-size: 15px;}

span
{position: relative;
  top: 5px;
  left:775px;
color:#C0C0C0;
font-size: 12px;}
p8
{
      cursor: pointer;
    position: relative;
  top: 25px;
  left:710px;}
.lock
{position: relative;
  top: -40px;
  left:1250px;}
p10
{
      cursor: pointer;
    position: relative;
  top: -30px;
  left:1200px;}
.home
{font-size:35px;
position: relative;
  top: 80px;
  left:903px;
 cursor: pointer;
}
p20
{font-size:17px;
position: relative;
  top: 55px;
  left:957px;}
p21
{font-size:17px;
position: relative;
  top: 90px;
  left:677px;}
.phone1
{font-size:25px;
position: relative;
  top: 160px;
  left:911px;
 cursor: pointer;
}
.message
{font-size:25px;
position: relative;
  top: 20px;
  left:909px;
 cursor: pointer;
}
p22
{font-size:17px;
position: relative;
  top: 0px;
  left:949px;}
p23
{ font-size:25px;
    position: relative;
  top: 266px;
  left: -900px;}

.topnav {
  overflow: hidden;
  background-color: #555;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:7%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
    
    
}
    .submit
    {position: relative;
    top:10px;
    left:10px}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
  width:40%
}
.topnav input[type=text] {
    border: 1px solid #ccc;
  }
.topnav a.active2 {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 26px;
  font-size:18px;
  width:8%;
}
h2
{font-size: 150%;
font-size: 70px;
font-style: oblique;
 font-weight: 11900;
color:orangered;
    text-align: center;
}
}

































@media only screen and (max-width: 768px)
{
    body
{background-color:#25637D;
    color:#F5F5DC;}
    .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
    .topnav
    {position: relative;
  top: 5px;
  left:120px;}
    .topnav input[type=text] {
padding: 8px;
  font-size: 13px;
  width:85%
}
    .topnav {
  position: relative;
  display: inline-block;
}


.topnav-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    background-color: #555;
}

.topnav-content a:hover {background-color: #ddd;
    background-color: #ddd;
  color: black;}

.topnav:hover .topnav-content {display: block;
  }

.topnav:hover .dropbtn {
}
    
    .topnav a.active {
  background-color: #4CAF50;
  color: white;
        padding: 12px 16px;
        position: relative;
        top:10px;
        left:3px;
}
.topnav a.active3
    {position: relative;
    top:-35px;
    left:135px;
        height: 10px;
        width: 5px;
    }
    h2
{font-size: 100%;
font-size: 50px;
font-style: oblique;
 font-weight: 11900;
color:orangered;
    text-align: center;
}
   
p12
{

font-size:30px;
position: relative;
  top: 80px;
  left:60px;}
p13
{

font-size:25px;
position: relative;
  top: 120px;
  left:-110px;}
img {
  display: auto;
 
   
    position: relative;
  top: 130px;
  left:0px;
    color:grey;
    width: 250px;
    height: 250px;
}
p18
{
    font-size:25px;
    position: relative;
  top: 126px;
  left: 180px;}
p19
{
    font-size:25px;
    position: relative;
  top: 160px;
  left: 60px;}
.home
{font-size:35px;
position: relative;
  top: 180px;
  left:93px;
 cursor: pointer;
}
p20
{font-size:17px;
position: relative;
  top: 145px;
  left:135px;}
.phone1
{font-size:25px;
position: relative;
  top: 170px;
  left:95px;
 cursor: pointer;
}
    p
{
font-size:20px;
position: relative;
  top: 122px;
  left:129px;}

.message
{font-size:25px;
position: relative;
  top: 122px;
  left:99px;
 cursor: pointer;
}
p22
{font-size:17px;
position: relative;
  top: 99px;
  left:129px;}
p23
{ font-size:25px;
    position: relative;
  top: 266px;
  left: -900px;}
    .thumpsup
{position: relative;
  top: 180px;
  left:93px;}
p2
{
      cursor: pointer;
    position: relative;
  top: 170px;
  left:60px;
font-size: 15px;}


.phone
{position: relative;
  top: 102px;
  left:270px;}
p4
{
      cursor: pointer;
    position: relative;
  top: 117px;
  left:230px;
font-size: 15px;}


.truck
{position: relative;
  top: 133px;
  left:165px;}
p6
{
      cursor: pointer;
    position: relative;
  top: 103px;
  left:92px;
font-size: 15px;}

span
{position: relative;
  top: 155px;
  left:-125px;
color:#C0C0C0;
font-size: 12px;}
p8
{
      cursor: pointer;
    position: relative;
  top: 175px;
  left:-190px;}
.lock
{position: relative;
  top: 110px;
  left:250px;}
p10
{
      cursor: pointer;
    position: relative;
  top: 110px;
  left:210px;}


}