
@media (min-width: 1281px)
{
body
{background-color:  #25637D;
color:#F5F5DC;}
input[type=text1]{
  
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
    width:93%;
    position: relative;
    left: 0px;
    top: -30px;
}
button
{color:white;

  background-color:#4CAF50;
width: 280px;
    height: 50px;
  position:relative;
  left:5px;
    top: -20px;
   cursor: pointer;

  opacity: 0.9;
}
button:hover {
  opacity:1;
}
.column {
 position:relative;
  top:100px;
  left:28px
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 30px;
  text-align: center;
  background-color: #F5F5DC;
 max-width: 300px;
  margin: auto;
  font-family: arial;
  font-size:13px
  }
.thumpsup
{position: relative;
  top: 180px;
  left:73px;}
p2
{
      cursor: pointer;
    position: relative;
  top: 170px;
  left:40px;
font-size: 15px;}


.phone
{position: relative;
  top: 102px;
  left:330px;}
p4
{
      cursor: pointer;
    position: relative;
  top: 117px;
  left:300px;
font-size: 15px;}


.truck
{position: relative;
  top: 53px;
  left:665px;}
p6
{
      cursor: pointer;
    position: relative;
  top: 23px;
  left:592px;
font-size: 15px;}

span
{position: relative;
  top: 5px;
  left:775px;
color:#C0C0C0;
font-size: 12px;}
p8
{
      cursor: pointer;
    position: relative;
  top: 25px;
  left:710px;}
.lock
{position: relative;
  top: -40px;
  left:1250px;}
p10
{
      cursor: pointer;
    position: relative;
  top: -30px;
  left:1200px;}
.topnav {
  overflow: hidden;
  background-color: #555;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:7%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
    }
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
  width:40%
}
.topnav input[type=text] {
    border: 1px solid #ccc;
  }
.topnav a.active2 {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 26px;
  font-size:18px;
  width:8%;
}
h2
{font-size: 150%;
font-size: 70px;
font-style: oblique;
 font-weight: 11900;
color:orangered;
    text-align: center;
}
p20
{font-size: 29px;
position: relative;
top:-10px;
left:-04px;
    color: black
}
p
{position: relative;
top:-10px;
left:0px;
color: black;
font-size: 17px;}
}
















































@media only screen and (max-width: 768px)
{body
{background-color:#25637D;
    color:#F5F5DC;}
    .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
    .topnav
    {position: relative;
  top: 5px;
  left:100px;}
    .topnav input[type=text] {
padding: 8px;
  font-size: 13px;
  width:85%
}
    .topnav {
  position: relative;
  display: inline-block;
}


.topnav-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    background-color: #555;
}

.topnav-content a:hover {background-color: #ddd;
    background-color: #ddd;
  color: black;}

.topnav:hover .topnav-content {display: block;
  }

.topnav:hover .dropbtn {
}
    
    .topnav a.active {
  background-color: #4CAF50;
  color: white;
        padding: 12px 16px;
        position: relative;
        top:10px;
        left:3px;
}
.topnav a.active3
    {position: relative;
    top:-35px;
    left:135px;
        height: 10px;
        width: 5px;
    }
    h2
{font-size: 100%;
font-size: 50px;
font-style: oblique;
 font-weight: 11900;
color:orangered;
    text-align: center;
} .thumpsup
{position: relative;
  top: 130px;
  left:153px;}
p2
{
      cursor: pointer;
    position: relative;
  top: 120px;
  left:130px;
font-size: 15px;}


.phone
{position: relative;
  top: 58px;
  left:290px;}
p4
{
      cursor: pointer;
    position: relative;
  top: 67px;
  left:250px;
font-size: 15px;}


.truck
{position: relative;
  top:93px;
  left:225px;}
p6
{
      cursor: pointer;
    position: relative;
  top: 63px;
  left:152px;
font-size: 15px;}

span
{position: relative;
  top: 125px;
  left:-55px;
color:#C0C0C0;
font-size: 12px;}
p8
{
      cursor: pointer;
    position: relative;
  top:145px;
  left:-120px;}
.lock
{position: relative;
  top: 80px;
  left:290px;}
p10
{
      cursor: pointer;
    position: relative;
  top:80px;
  left:260px;}      

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 95px;
  text-align: center;
  background-color: #F5F5DC;
 max-width:0px;
  margin: auto;
  font-family: arial;
  font-size:13px;
    height: 100px;
    width:300px;
}
    .column { position:relative;
  top:70px;
  left:3px
}
    p20
{font-size: 15px;
position: relative;
top:-120px;
left:-90px;
 font-size: 20px;
  white-space: nowrap;
}
    p
{position: relative;
top:-110px;
left:-89px;
color: black;

      white-space: nowrap;
}
    input[type=text1]{
  
 
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
    width:93%;
        width: 170px;
        height: 40px;
    position: relative;
    left: -86px;
    top: -160px;
        
}
button
{color:white;

  background-color:#4CAF50;
width: 164px;
    height: 50px;
  position:relative;
  left:-83px;
    top: -150px;
   cursor: pointer;

  opacity: 0.9;
}
button:hover {
  opacity:1;
}
}
