body
{background-color:#25637D;}
.topnav {
  overflow: hidden;
  background-color: #555;
    
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:8%;
    
    
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
    
}

/* Style the "active" element to highlight the current page */
.topnav a.active{
  background-color: #4CAF50;
  color: white;
    }

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
  width:37%
}
.topnav input[type=text] {
    border: 1px solid #ccc;
  }
.topnav a.active2 {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 26px;
  font-size:18px;
  width:8%;
}

h2
{font-size: 150%;
font-size: 70px;
font-style: oblique;
 font-weight: 11900;
color:orangered;
    text-align: center;
position: relative;
left: 0px;
top: 0px;}
img{
  width: 1467px;
  height: 800px;
  display: grid;
  place-items: center;
  color: #ff43ea;
  position: relative;
  font: bold 42px sans-serif;
  background-size: cover;
  background-blend-mode: saturation;
    position: relative;
    top:0px;
    left: 0px;
}
.thumpsup
{position: relative;
  top: -180px;
  left:73px;
}
p2
{
      cursor: pointer;
    position: relative;
  top: -190px;
  left:45px;
font-size: 16px;
color:darkgreen;}
p3
{position: relative;
  top: -185px;
  left:3px;
font-size: 14px;
color: #CD08FE;}
p14
{position: relative;
  top: -170px;
  left:-165px;
font-size: 14px;
color:#CD08FE;}

.phone
{position: relative;
  top: -268px;
  left:375px;}
p4
{
      cursor: pointer;
    position: relative;
  top: -263px;
  left:340px;
font-size: 16px;
color: darkgreen}
p5
{position: relative;
  top: -263px;
  left:320px;
color: #CD08FE;
font-size: 14px;}
p15
{position: relative;
  top: -243px;
  left:145px;
color: #CD08FE;
font-size: 14px;}
.truck
{position: relative;
  top: -345px;
  left:695px;}
p6
{
      cursor: pointer;
    position: relative;
  top: -365px;
  left:610px;
font-size: 16px;
color: darkgreen;}
p7
{position: relative;
  top: -345px;
  left:378px;
    font-size: 14px;
    color:#CD08FE;
}
span
{position: relative;
  top: -395px;
  left:545px;
color:orangered;
font-size: 12px;}
p8
{
      cursor: pointer;
    position: relative;
  top: -365px;
  left:470px;
color: darkgreen;
font-size: 16px;}
p9
{position: relative;
  top: -345px;
  left:310px;
    color: #CD08FE;
    font-size: 14px;
}
p16
{position: relative;
  top: -325px;
  left:160px;
color: #CD08FE;
font-size: 14px;}
.lock
{position: relative;
  top: -440px;
  left:1320px;}
p10
{
      cursor: pointer;
    position: relative;
  top: -430px;
  left:1277px;
color:darkgreen;
font-size: 16px;}
p11
{position: relative;
  top: -410px;
  left:1139px;
color:  #CD08FE;
font-size: 14px;}
p17
{position: relative;
  top: -390px;
  left:950px;
color:  #CD08FE;
    font-size: 14px;
}
p20
{position: relative;
  top: -780px;
  left:600px;
font-size: 30px;
color: rebeccapurple;}