@media only screen and (max-width: 768px) {
   /*For mobile phones: */
    body
    {background-color:#25637D;}
    .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
    .topnav
    {position: relative;
  top: 5px;
  left:80px;}
    .topnav input[type=text] {
padding: 8px;
  font-size: 13px;
  width:85%
}
    .topnav {
  position: relative;
  display: inline-block;
}


.topnav-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    background-color: #555;
}

.topnav-content a:hover {background-color: #ddd;
    background-color: #ddd;
  color: black;}

.topnav:hover .topnav-content {display: block;
  }

.topnav:hover .dropbtn {
}
    
    .topnav a.active {
  background-color: #4CAF50;
  color: white;
        padding: 12px 16px;
        position: relative;
        top:10px;
        left:3px;
}
.topnav a.active3
    {position: relative;
    top:-35px;
    left:135px;
        height: 10px;
        width: 5px;
    }
    h2
{font-size: 100%;
font-size: 50px;
font-style: oblique;
 font-weight: 11900;
color:orangered;
    text-align: center;
}
  .column {
 
  position: relative;
  top: 35px;
  left:80px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 50px;
  text-align: center;
     height: 445px;

 max-width: 190px;
  margin: auto;
  font-family: arial;
  font-size:13px;
    background-color:	#F5F5DC;
     position: relative;
  top: 5px;
  left:-80px;
  }
    .card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 50px;
  text-align: center;
     height: 415px;

 max-width: 190px;
  margin: auto;
  font-family: arial;
  font-size:13px;
    background-color:	#F5F5DC;
     position: relative;
  top: 35px;
  left:-80px;
  }
  

 .button {
  border: red;
  padding: 13px;
  color: white;
  background-color:#6144D5;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 15px;
    position: relative;
  top: 35px;
  left:-80px;
     border-radius: 5px;
}
.button1 {
  border: red;
  padding: 13px;
  color: white;
  background-color:#FF8C00;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 15px;
  position: relative;
  top: -8px;
  left: 80px;
    border-radius: 5px;
}

.button2{
  padding: 13px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 15px;
  position: relative;
  top: 10px;
  left: 80px;
    background-color: #FFDAB9;
    border-radius: 5px;
}
.button4{
  border: red;
  padding: 15px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 15x;
    position: relative;
  top: -37px;
  left:-67px;
    border-radius: 5px;
 }

.button5{
  border: red;
  padding: 15px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 12px;
    position: relative;
  top: -40px;
  left:-60px;
    border-radius: 5px;
 }
    .button8{
  border: red;
  padding: 13px;
  color: white;
  background-color:#6144D5;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 15px;
    position: relative;
  top: 20px;
  left:-70px;
 border-radius: 5px;
}
.button9 {
  border: red;
  padding: 13px;
  color: white;
  background-color:#FF8C00;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 15px;
  position: relative;
  top: -20px;
  left: 62px;
    border-radius: 5px;
}
.button10{
  padding: 13px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 15px;
  position: relative;
  top: -1px;
  left: 60px;
    background-color: #FFDAB9;
    border-radius: 5px;
    
}
.button11{
    border: red;
  padding: 15px;
  color: white;
  background-color:#800000;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 14px;
  position: relative;
  top: -50px;
  left: -70px;
border-radius: 5px;
    }
.submit
{
    border: red;
  padding:13px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 15px;
    border-radius: 5px;
  }
    .button12{
  border: red;
  padding: 15px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 55%;
  font-size: 14px;
    position: relative;
  top: -36px;
  left:-66px;
     border-radius: 5px;
 }
img {
  display: auto;
  max-width: 90%;
    height: 200px;
  width: 250px;
    position: relative;
  top: 1px;
  left: 2px;
    background-color: grey;
}
h1
{font-size:20px;}
p2
{
    text-align: center;
    position: relative;
  top: -15px;
  left: 100px}


/*Style the links inside the navigation bar*/ 
.column1
{ 
  position: relative;
    top:100px;
    left:80px;
 }
.column2
{ 
  position: relative;
  top: 130px;
  left:80px;
 }
 .column3
{ 
  position: relative;
  top: 170px;
  left:80px;
 }
  .column4
{ 
  position: relative;
  top: 200px;
  left:80px;
 } 
    .column5
{ 
  position: relative;
  top: 230px;
  left:80px;
 }
        .column6
{ 
  position: relative;
  top: 260px;
  left:80px;
 }
        .column7
{ 
  position: relative;
  top: 290px;
  left:80px;
 }
        .column8
{ 
  position: relative;
  top: 320px;
  left:80px;
 }
        .column9
{ 
  position: relative;
  top: 350px;
  left:80px;
 }
        .column10
{ 
  position: relative;
  top: 380px;
  left:80px;
 }
        .column11
{ 
  position: relative;
  top: 410px;
  left:80px;
 }
        .column12
{ 
  position: relative;
  top: 440px;
  left:80px;
 }
        .column13
{ 
  position: relative;
  top: 470px;
  left:80px;
 }
        .column14
{ 
  position: relative;
  top: 500px;
  left:80px;
 }
        .column15
{ 
  position: relative;
  top: 530px;
  left:80px;
 }
        .column16
{ 
  position: relative;
  top: 560px;
  left:80px;
 }
        .column17
{ 
  position: relative;
  top: 590px;
  left:80px;
 }
        .column18
{ 
  position: relative;
  top: 610px;
  left:80px;
 }
        .column19
{ 
  position: relative;
  top: 640px;
  left:80px;
 }
        .column20
{ 
  position: relative;
  top: 670px;
  left:80px;
 }
        .column21
{ 
  position: relative;
  top: 700px;
  left:80px;
 }
        .column22
{ 
  position: relative;
  top: 730px;
  left:80px;
 }
    .column23
{ 
  position: relative;
  top: 760px;
  left:80px;
 }
    .column24
{ 
  position: relative;
  top: 790px;
  left:80px;
 }
    .column25
{ 
  position: relative;
  top: 820px;
  left:80px;
 }
    .column26
{ 
  position: relative;
  top: 850px;
  left:80px;
 }
    .column27
{ 
  position: relative;
  top: 880px;
  left:80px;
 }
    .column28
{ 
  position: relative;
  top: 910px;
  left:80px;
 }
    .column29
{ 
  position: relative;
  top: 940px;
  left:80px;
 }
      .column30
{ 
  position: relative;
  top: 970px;
  left:80px;
 }
      .column31
{ 
  position: relative;
  top: 1000px;
  left:80px;
 }
      .column32
{ 
  position: relative;
  top: 1030px;
  left:80px;
 }
      .column33
{ 
  position: relative;
  top: 1060px;
  left:80px;
 }
      .column34
{ 
  position: relative;
  top: 1090px;
  left:80px;
 }
      .column35
{ 
  position: relative;
  top: 1120px;
  left:80px;
 }
      .column36
{ 
  position: relative;
  top: 1150px;
  left:80px;
 }
      .column37
{ 
  position: relative;
  top: 1180px;
  left:80px;
 }
          .column38
{ 
  position: relative;
  top: 1210px;
  left:80px;
 }
          .column39
{ 
  position: relative;
  top: 1240px;
  left:80px;
 }
          .column40
{ 
  position: relative;
  top: 1270px;
  left:80px;
 }

}




























@media (min-width: 1281px)
{
  
body
{background-color:#25637D;
}
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #555;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:7%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
    
    
}
    .submit
    {position: relative;
    top:10px;
    left:10px}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
  width:40%
}
.topnav input[type=text] {
    border: 1px solid #ccc;
  }
.topnav a.active2 {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 26px;
  font-size:18px;
  width:8%;
}
h2
{font-size: 150%;
font-size: 70px;
font-style: oblique;
 font-weight: 11900;
color:orangered;
    text-align: center;
}
.column {
 
  position: relative;
  top: 35px;
  left:0px;
    width:33%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 60px;
  text-align: center;

 max-width: 300px;
  margin: auto;
  font-family: arial;
  font-size:13px;
    background-color:	#F5F5DC;
  }
  

 .button {
  border: red;
  padding: 9px;
  color: white;
  background-color:#6144D5;
  text-align: center;
  cursor: pointer;
  width: 41%;
  font-size: 19px;
    position: relative;
  top: 35px;
  left:-50px;
  border-radius: 5px;
}
.button1 {
  border: red;
  padding: 9px;
  color: white;
  background-color:#FF8C00;
  text-align: center;
  cursor: pointer;
  width: 41%;
  font-size: 19px;
  position: relative;
  top: 35px;
  left: -15px;
     border-radius: 5px;
}

.button2{
  padding: 9px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 41%;
  font-size: 18px;
  position: relative;
  top: 50px;
  left: 125px;
    background-color: #FFDAB9;
     border-radius: 5px;
}
.button4{
  border: red;
  padding: 9px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 41%;
  font-size: 18px;
    position: relative;
  top: 50px;
  left:-161px;
     border-radius: 5px;
 }
.button5{
  border: red;
  padding:9px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 41%;
  font-size: 17px;
    position: relative;
  top: 50px;
  left:-153px;
     border-radius: 5px;
 }
.button8{
  border: red;
  padding: 9px;
  color: white;
  background-color:#6144D5;
  text-align: center;
  cursor: pointer;
  width: 41%;
  font-size: 18px;
    position: relative;
  top: 20px;
  left:-20px;
 border-radius: 5px;
}
.button9 {
  border: red;
  padding: 9px;
  color: white;
  background-color:#FF8C00;
  text-align: center;
  cursor: pointer;
  width: 41%;
  font-size: 18px;
  position: relative;
  top: 20px;
  left: 5px;
    border-radius: 5px;
}
.button10{
  padding: 9px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 38%;
  font-size: 18px;
  position: relative;
  top: 50px;
  left: -30px;
    background-color: #FFDAB9;
    border-radius: 5px;
    
}
.button11{
    border: red;
  padding: 9px;
  color: white;
  background-color:#800000;
  text-align: center;
  cursor: pointer;
  width: 38%;
  font-size: 18px;
  position: relative;
  top: 50px;
  left: 10px;

  border-radius: 5px;
    
}

.button12{
  border: red;
  padding: 9px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 41%;
  font-size: 18px;
    position: relative;
  top: 50px;
  left:-163px;
     border-radius: 5px;
 }
img {
  display: auto;
  max-width: 90%;
    height: 200px;
  width: 250px;
    position: relative;
  top: 1px;
  left: 2px;
    background-color: grey;
}
h1
{font-size:20px;}
p2
{
    text-align: center;
    position: relative;
  top: -15px;
  left: 100px}


/* Style the links inside the navigation bar*/
.column1
{ width: 33%; 
  position: relative;
  top:-417px;
  left:480px;
 }
.column2
{ width: 33%; 
  position: relative;
  top: -869px;
  left:970px;
width: 33%; }
.column3
{ width: 33%; 
  position: relative;
  top: -785px;
  left:0px;
width: 33%; }

.column4
{ width: 33%; 
  position: relative;
  top: -1235px;
  left:480px;
width: 33%; }
.column5
{ width: 33%; 
  position: relative;
  top: -1685px;
  left:970px;
width: 33%; }

.column6
{ width: 33%; 
  position: relative;
  top: -1620px;
  left:0px;
width: 33%; }
.column7
{ width: 33%; 
  position: relative;
  top: -2070px;
  left:480px;
width: 33%; }

.column8
{ width: 33%; 
  position: relative;
  top: -2520px;
  left:970px;
width: 33%; }
.column9
{ width: 33%; 
  position: relative;
  top: -2438px;
  left:0px;
width: 33%; }
.column10
{ width: 33%; 
  position: relative;
  top: -2890px;
  left:480px;
width: 33%; }
.column11
{ width: 33%; 
  position: relative;
  top: -3341px;
  left:970px;
width: 33%; }
.column12
{ width: 33%; 
  position: relative;
  top: -3280px;
  left:0px;
width: 33%; }
.column13
{ width: 33%; 
  position: relative;
  top: -3733px;
  left:480px;
width: 33%; }
.column14
{ width: 33%; 
  position: relative;
  top: -4185px;
  left:970px;
width: 33%; }
.column15
{ width: 33%; 
  position: relative;
  top: -4100px;
  left:0px;
width: 33%; }
.column16
{ width: 33%; 
  position: relative;
  top: -4553px;
  left:480px;
width: 33%; }
.column17
{ width: 33%; 
  position: relative;
  top: -5006px;
  left:970px;
width: 33%; }

.column18
{ width: 33%; 
  position: relative;
  top: -4940px;
  left:0px;
width: 33%; }

.column19
{ width: 33%; 
  position: relative;
  top: -5393px;
  left:480px;
width: 33%; }
.column20
{ width: 33%; 
  position: relative;
  top: -5868px;
  left:970px;
width: 33%; }
.column21
{ width: 33%; 
  position: relative;
  top: -5790px;
  left:0px;
width: 33%; }
.column22
{ width: 33%; 
  position: relative;
  top: -6242px;
  left:480px;
width: 33%; }
.column23
{ width: 33%; 
  position: relative;
  top: -6694px;
  left:970px;
width: 33%; }
.column24
{ width: 33%; 
  position: relative;
  top: -6625px;
  left:0px;
width: 33%; }
.column25
{ width: 33%; 
  position: relative;
  top: -7078px;
  left:480px;
width: 33%; }
.column26
{ width: 33%; 
  position: relative;
  top: -7531px;
  left:970px;
width: 33%; }
.column27
{ width: 33%; 
  position: relative;
  top: -7472px;
  left:0px;
width: 33%;
}
.column28
{ width: 33%; 
  position: relative;
  top: -7925px;
  top: -7925px;
  left:480px;
width: 33%;
}
.column29
{ width: 33%; 
  position: relative;
  top: -8376px;
  left:970px;
width: 33%;
}
.column30
{ width: 33%; 
  position: relative;
  top: -8308px;
  left:0px;
width: 33%;
}
.column31
{ width: 33%; 
  position: relative;
  top: -8780px;
  left:480px;
width: 33%;
}
.column32
{ width: 33%; 
  position: relative;
  top: -9232px;
  left:970px;
width: 33%;
}
.column33
{ width: 33%; 
  position: relative;
  top: -9150px;
  left:0px;
width: 33%;
}
.column34
{ width: 33%; 
  position: relative;
  top: -9685px;
  left:480px;
width: 33%;
}
.column35
{ width: 33%; 
  position: relative;
  top: -10219px;
  left:970px;
width: 33%;
}
.column36
{ width: 33%; 
  position: relative;
  top: -10155px;
  left:0px;
width: 33%;
}
.column37
{ width: 33%; 
  position: relative;
  top: -10690px;
  left:480px;
width: 33%;
}
.column38
{ width: 33%; 
  position: relative;
  top: -11225px;
  left:970px;
width: 33%;
}
.column39
{ width: 33%; 
  position: relative;
  top: -11160px;
  left:0px;
width: 33%;
}
.column40
{ width: 33%; 
  position: relative;
  top: -11697px;
  left:480px;
width: 33%;
}
.zoom {
 transition: transform .2s; /* Animation */
 }

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.submit
{
    border: red;
  padding:9px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 41%;
  font-size: 18px;
    border-radius: 5px;
  }