@media (min-width: 1281px)
{
body
{background-color: #25637D;
     color:#F5F5DC;}
h1
{position: relative;
  left: -55px;
  top: -220px; 
    color: black;
      white-space: nowrap;}
.column { position:relative;
  top:50px;
  left:3px
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 200px;
  text-align: center;
  background-color: #F5F5DC;
  margin: auto;
  font-family: arial;
  font-size:13px;
    width: 120px;
    height: 120px;
  }
p30
{position: relative;
  left: -25px;
  top: -230px;
    color: black;
    font-size: 17px;
      white-space: nowrap;}
/* Full-width inputs */
input[type=text1] {
  width: 50%;
  padding: 12px 150px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  left: -125px;
  top: -210px;
}
p31
{position: relative;
  left: -30px;
  top: -200px;
color: black;
    font-size: 17px;
      white-space: nowrap;}
input[type=password] {
  width: 22%;
  padding: 12px 150px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  left: -125px;
  top:-192px;
  }

/* Set a style for all buttons */
.login {
  background-color: #FF8C00;
  color: white;
  cursor: pointer;
width: 300px;
    height: 50px;
  position: relative;
  left: -125px;
  top: -170px;
}
.submit {
  background-color:#4CAF50;
  color: white;
    width: 300px;
    height: 50px;
  cursor: pointer;
position: relative;
    top:-140px;
  left: -130px;
}


/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
/* Add padding to containers */
.container {
  padding:16px;
}
/* The "Forgot password" text */

label
{position: relative;
  left: -120px;
  top: -130px;
    color: black;}

.thumpsup
{position: relative;
  top: 180px;
  left:73px;}
p2
{
      cursor: pointer;
    position: relative;
  top: 170px;
  left:40px;
font-size: 15px;}


.phone
{position: relative;
  top: 102px;
  left:330px;}
p4
{
      cursor: pointer;
    position: relative;
  top: 117px;
  left:300px;
font-size: 15px;}


.truck
{position: relative;
  top: 53px;
  left:665px;}
p6
{
      cursor: pointer;
    position: relative;
  top: 23px;
  left:592px;
font-size: 15px;}

span
{position: relative;
  top: 5px;
  left:775px;
color:#C0C0C0;
font-size: 12px;}
p8
{
      cursor: pointer;
    position: relative;
  top: 25px;
  left:710px;}
.lock
{position: relative;
  top: -40px;
  left:1250px;}
p10
{
      cursor: pointer;
    position: relative;
  top: -30px;
  left:1200px;}
.topnav {
  overflow: hidden;
  background-color: #555;
    
}

/* Style the links inside the navigation bar */
.topnav {
  overflow: hidden;
  background-color: #555;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:7%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
    
    
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
  width:40%
}
.topnav input[type=text] {
    border: 1px solid #ccc;
  }
.topnav a.active2 {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 26px;
  font-size:18px;
  width:8%;
}


h2
{font-size: 150%;
font-size: 70px;
font-style: oblique;
 font-weight: 18900;
color:orangered;
    text-align: center;
}
}


















































@media only screen and (max-width: 768px)
{ body
{background-color:#25637D;
    color:#F5F5DC;}
    .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
    .topnav
    {position: relative;
  top: 5px;
  left:120px;}
    .topnav input[type=text] {
padding: 8px;
  font-size: 13px;
  width:85%
}
    .topnav {
  position: relative;
  display: inline-block;
}


.topnav-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    background-color: #555;
}

.topnav-content a:hover {background-color: #ddd;
    background-color: #ddd;
  color: black;}

.topnav:hover .topnav-content {display: block;
  }

.topnav:hover .dropbtn {
}
    
    .topnav a.active {
  background-color: #4CAF50;
  color: white;
        padding: 12px 16px;
        position: relative;
        top:10px;
        left:3px;
}
.topnav a.active3
    {position: relative;
    top:-35px;
    left:135px;
        height: 10px;
        width: 5px;
    }
    h2
{font-size: 100%;
font-size: 50px;
font-style: oblique;
 font-weight: 11900;
color:orangered;
    text-align: center;
} .thumpsup
{position: relative;
  top: 150px;
  left:153px;}
p2
{
      cursor: pointer;
    position: relative;
  top: 140px;
  left:130px;
font-size: 15px;}


.phone
{position: relative;
  top: 78px;
  left:290px;}
p4
{
      cursor: pointer;
    position: relative;
  top: 87px;
  left:250px;
font-size: 15px;}


.truck
{position: relative;
  top:103px;
  left:225px;}
p6
{
      cursor: pointer;
    position: relative;
  top: 73px;
  left:152px;
font-size: 15px;}

span
{position: relative;
  top: 125px;
  left:-55px;
color:#C0C0C0;
font-size: 12px;}
p8
{
      cursor: pointer;
    position: relative;
  top:145px;
  left:-120px;}
.lock
{position: relative;
  top: 80px;
  left:290px;}
p10
{
      cursor: pointer;
    position: relative;
  top:80px;
  left:260px;}
h1
{position: relative;
  left: -50px;
  top: -225px; }
.column { position:relative;
  top:110px;
  left:3px;
    
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 115px;
  text-align: center;
  background-color: #F5F5DC;
  margin: auto;
  font-family: arial;
  font-size:13px;
    height: 170px;
    width:30px;
}
p30
{position: relative;
  left: -55px;
  top: -190px; 
    color:black;
      white-space: nowrap;}
/* Full-width inputs */
input[type=text1] {
    width: 22%;
  padding: 12px 100px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  left: -115px;
  top: -180px;
}
p31
{position: relative;
  left: -35px;
  top: -180px;
    color:black;
      white-space: nowrap;}
input[type=password] {
  width: 22%;
  padding: 12px 100px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  left: -113px;
  top: -180px;
  }
/* Set a style for all buttons */
.login {
  background-color: #FF8C00;
  color: white;
  padding: 14px 92px;
  margin: 8px 0;
  cursor: pointer;
  width: 22%;
  position: relative;
  left: -109px;
  top: -170px;
}
.submit {
  background-color:#4CAF50;
  color: white;
 height: 45px;
    width: 190px;
 cursor: pointer;
  position: relative;
  left: -110px;
  top: -170px;
    
    
}


/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
/* Add padding to containers */
.container {
  padding:16px;
}
    
label
{position: relative;
  left: -109px;
  top: -150px;
    color: black;
    width: 10px;}
/* The "Forgot password" text */
.forgot
{position:relative;
top:-135px;
left:-110px;}
    width: 10px;

}
