@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@media (min-width: 1281px)
{
#more {display: none;}
body
{background-color: #2E4B86;
color:white;}
h1
{
font-family:arial;
padding:10px;
font-size:40px;
  position: relative;
  top: 5px;
  left: 570px
}
img
{
width:35%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50px;
  left: 5px;
     height: 325px;
  width: 450px;
    display: auto;
  max-width: 90%;
}
p
{font-size:40px;
  position: relative;
  top: 40px;
  left: 5px
}
.button
{border: red;
  padding: 18px;
  color: white;
  background-color:#D130CC;
  text-align: center;
  cursor: pointer;
  width: 17%;
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 5px
}
.button1
{border: red;
  padding: 18px;
  color: white;
  background-color:orange;
  text-align: center;
  cursor: pointer;
  width: 17%;
  font-size: 20px;
position: relative;
  top: -73px;;
  left: 270px
}
p3
{position: relative;
  top: -500px;
  left: 630px;
  width: 500px;
  font-size: 25px;
}
p1
{position: relative;
  top: -500px;
  left: 880px;
}
h2
{position: relative;
  top: -300px;
  left: 9px;
  width: 500px;
}
.table
{position: relative;
  top: -300px;
  left: 9px;
  width: 500px;
  border: 1px solid white;
  border-collapse: collapse;
}
th
{
  font-size: 25px;
  border: 1px solid white;
  border-collapse: collapse;
  padding: 15px;
}
td
{
border: 1px solid white;
border-collapse: collapse;
padding: 10px;
}
button2
{border: red;
  padding: 10px;
  color: #1FFE06;
  text-align: center;
  cursor: pointer;
  width: 9%;
  font-size: 20px;
 position: relative;
  top: -330px;
  left: 8px;
}
p5
{position: relative;
  top: -370px;
  left: 320px;}
.table1
{

  position: relative;
  top: -300px;
  left: 9px;
  width: 500px;
  border: 1px solid black;
  border-collapse: collapse;
 }

p9
{position: relative;
  top: -310px;
  left: 9px;
  width: 500px;
    font-size: 25px;
}
p8
{position: relative;
  top: -305px;
  left: 9px;
  width: 500px;
 
}
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
    position: relative;
  top: -300px;
  left: -320px;
  width: 500px;
 
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.65em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

input[type=text] {
  width: 50%;
  padding: 22px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
  border-radius: 4px;
     position: relative;
  top: -300px;
  left: 0px;
  width: 500px;
 
  }
h3
{
     position: relative;
  top: -300px;
  left: 17px;
  width: 500px;
 
  
}
p10
{    position: relative;
  top: -250px;
  left: -500px;

    font-size: 20px;
 }
.resistor
{position: relative;
  top: -490px;
  left: 880px;
    width:200px;
     cursor: pointer;
    }
    
p13
{position: relative;
  top: -490px;
  left: 880px;
font-size: 20px;
    
}
p11
{position: relative;
  top: -295px;
  left: 00px;
font-size: 20px;
}
p12
{position: relative;
  top: -295px;
  left: 000px;
font-size: 20px;
}
.submit
{border: red;
  padding:6px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 77%;
  font-size: 20px;
  }
.ramnath
{ width: 33%; 
  position: relative;
  top: -265px;
  left:0px;
width: 33%;
    }}






@media only screen and (max-width: 768px)
{#more {display: none;}
body
{background-color: #2E4B86;
color:white;}
h1
{
font-family:arial;
padding:10px;
font-size:40px;
  position: relative;
  top: 5px;
  left: 187px
}
img
{
width:35%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50px;
  left: 5px;
     height: 325px;
  width: 450px;
    display: auto;
  max-width: 90%;
}
p
{font-size:40px;
  position: relative;
  top: 40px;
  left: 5px
}
.button
{border: red;
  padding: 15px;
  color: white;
  background-color:#D130CC;
  text-align: center;
  cursor: pointer;
  width: 32%;
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 5px
}
.button1
{border: red;
  padding: 15px;
  color: white;
  background-color:orange;
  text-align: center;
  cursor: pointer;
  width: 32%;
  font-size: 20px;
position: relative;
  top: -73px;;
  left: 270px
}
p3
{position: relative;
  top: -10px;
  left: -133px;
  width: 500px;
  font-size: 25px;
}
p1
{position: relative;
  top: -10px;
  left: 8px;
}
h2
{position: relative;
  top: 0px;
  left: 9px;
  width: 500px;
}
.table
{position: relative;
  top: 0px;
  left: 9px;
  width: 475px;
  border: 1px solid white;
  border-collapse: collapse;
}
th
{
  font-size: 25px;
  border: 1px solid white;
  border-collapse: collapse;
  padding: 15px;
}
td
{
border: 1px solid white;
border-collapse: collapse;
padding: 10px;
}
button2
{border: red;
  padding: 10px;
  color: #1FFE06;
  text-align: center;
  cursor: pointer;
  width: 9%;
  font-size: 20px;
 position: relative;
  top: 10px;
  left: 8px;
}
p5
{position: relative;
  top: -370px;
  left: 320px;}
.table1
{

  position: relative;
  top: 0px;
  left: 9px;
  width: 475px;
  border: 1px solid black;
  border-collapse: collapse;
 }

p9
{position: relative;
  top: 10px;
  left: 9px;
  width: 500px;
    font-size: 25px;
}
p8
{position: relative;
  top: 10px;
  left: 9px;
  width: 500px;
 
}
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
    position: relative;
  top: -20px;
  left: -320px;
  width: 500px;
 
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.65em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

input[type=text] {
  width: 50%;
  padding: 22px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
  border-radius: 4px;
     position: relative;
  top: -40px;
  left: 0px;
  width: 500px;
 
  }
h3
{
     position: relative;
  top: 00px;
  left: 17px;
  width: 500px;
 
  
}
p10
{    position: relative;
  top: 5px;
  left: -0px;

    font-size: 20px;
 }
.resistor
{position: relative;
  top: 10px;
  left: 8px;
    width:200px;
     cursor: pointer;
    }
    
p13
{position: relative;
  top: 0px;
  left: 8px;
font-size: 20px;
    
}
p11
{position: relative;
  top: -25px;
  left: 20px;
font-size: 20px;
    
}
p12
{position: relative;
  top: -35px;
  left: 20px;
font-size: 20px;
}
.submit
{border: red;
  padding:6px;
  color: white;
  background-color:#3CB371;
  text-align: center;
  cursor: pointer;
  width: 77%;
  font-size: 20px;
  }
.ramnath
{ width: 33%; 
  position: relative;
  top: 0px;
  left:0px;
width: 33%;
    }}