@media (min-width: 1281px)
{
body
{background-color: #25637D;
     color:#F5F5DC;}
.topnav {
  overflow: hidden;
  background-color: #555;
}
/* Style the links inside the navigation bar */
.topnav {
  overflow: hidden;
  background-color: #555;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:7%;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
  width:40%
}
.topnav input[type=text] {
    border: 1px solid #ccc;
  }
.topnav a.active2 {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 26px;
  font-size:18px;
  width:8%;
}
h2
{font-size: 150%;
font-size: 70px;
font-style: oblique;
 font-weight: 18900;
color:orangered;
    text-align: center;
}
.thumpsup
{position: relative;
  top: -80px;
  left:-600px;}
p2
{
      cursor: pointer;
    position: relative;
  top: -90px;
  left:-598px;
font-size: 15px;}


.phone
{position: relative;
  top: -158px;
  left:-270px;}
p4
{
      cursor: pointer;
    position: relative;
  top: -143px;
  left:-260px;
font-size: 15px;}


.truck
{position: relative;
  top: -207px;
  left:-25px;}
p6
{
      cursor: pointer;
    position: relative;
  top: -197px;
  left:-30px;
font-size: 15px;
     white-space: nowrap;}

span
{position: relative;
  top: -275px;
  left:325px;
color:#C0C0C0;
font-size: 12px;}
p8
{
      cursor: pointer;
    position: relative;
  top: -255px;
  left:260px;
    font-size: 15px;}
.lock
{position: relative;
  top: -320px;
  left:510px;}
p10
{
      cursor: pointer;
    position: relative;
  top: -310px;
  left:520px;
    font-size: 15px;}


h1
{position:relative;
top:-185px;
left:-15px;
    color: black;}
    p30
    {position: relative;
    top:-180px;
    left: -25px;
    color: black;
    font-size:15px;}
/* Full-width input fields */
  input[type=text1]
 {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
    width:175%;
     position: relative;
     top:-180px;
     left: -80px;
 }
label
{position: relative;
  left: -120px;
  top: -180px;
    color: black;}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
opacity: 0.9;
  width:180%;
    position: relative;
    left: -80px;
  top: -180px;
}
button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
/* Float cancel and signup buttons and add an equal width */
p
{color: black;
    position: relative;
    left: -80px;
  top: -180px;
    }
.column {
  position:relative;
  top:40px;
  left:40px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 200px;
  text-align: center;
  background-color: #F5F5DC;
  margin: auto;
  font-family: arial;
  font-size:13px;
    width: 180px;
    height: 500px;
  }
    h2
{font-size: 150%;
font-size: 70px;
font-style: oblique;
 font-weight: 18900;
color:orangered;
    text-align: center;
}
}




































@media only screen and (max-width: 768px)
{body
{background-color:#25637D;
    color:#F5F5DC;}
    .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
    .topnav
    {position: relative;
  top: 5px;
  left:120px;}
    .topnav input[type=text] {
padding: 8px;
  font-size: 13px;
  width:85%
}
    .topnav {
  position: relative;
  display: inline-block;
}


.topnav-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    background-color: #555;
}

.topnav-content a:hover {background-color: #ddd;
    background-color: #ddd;
  color: black;}

.topnav:hover .topnav-content {display: block;
  }

.topnav:hover .dropbtn {
}
    
    .topnav a.active {
  background-color: #4CAF50;
  color: white;
        padding: 12px 16px;
        position: relative;
        top:10px;
        left:3px;
}
.topnav a.active3
    {position: relative;
    top:-35px;
    left:135px;
        height: 10px;
        width: 5px;
    }
    h2
{font-size: 100%;
font-size: 50px;
font-style: oblique;
 font-weight: 11900;
color:orangered;
    text-align: center;
} .thumpsup
{position: relative;
  top: 30px;
  left:-73px;}
p2
{
      cursor: pointer;
    position: relative;
  top: 20px;
  left:-63px;
font-size: 15px;}


.phone
{position: relative;
  top: -35px;
  left:60px;}
p4
{
      cursor: pointer;
    position: relative;
  top: -33px;
  left:70px;
font-size: 15px;}
.truck
{position: relative;
  top:-13px;
  left:5px;}
p6
{
      cursor: pointer;
    position: relative;
  top: -13px;
  left:5px;
font-size: 15px;
    white-space: nowrap;}
span
{position: relative;
  top: 8px;
  left:-19px;
color:#C0C0C0;
font-size: 12px;}
p8
{
      cursor: pointer;
    position: relative;
  top:25px;
  left:-82px;}
.lock
{position: relative;
  top: -44px;
  left:70px;}
p10
{
      cursor: pointer;
    position: relative;
  top:-40px;
  left:60px;} 
    .column {
  position:relative;
  top:40px;
  left:-10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 15px;
  text-align: center;
  background-color: #F5F5DC;
  margin: auto;
  font-family: arial;
  font-size:13px;
    width: 200px;
    height: 720px;
  }
    p30
    {position: relative;
    top:-10px;
    left: -25px;
    color: black;
    font-size:12px;}
    label
{position: relative;
  left: -25px;
  top: -12px;
    color: black;}
    p
{color: black;
    position: relative;
    left: -2px;
  top: -18px;
    }
    button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
opacity: 0.9;
  width:80%;
    position: relative;
    left: -10px;
  top: -18px;
}
button:hover {
  opacity:1;
}
    h1
{position:relative;
top:-15px;
left:-5px;
    color: black;}
/* Full-width input fields */
  input[type=text1]
 {
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
    width:85%;
     position: relative;
     top:-7px;
     left: 1px;
 }
}
